body {
  font-family: sans-serif;
  overflow:hidden;
  
}
button {
  position:relative;
  left: 10px;
  width: 64px;
  height: 64px;
  font-size: 30px;
  border: 0;
  border-radius: 30px;
  outline:none;
  background-color: rgba(255, 255, 255, 0);
}
ul {
  position:relative;
  top: 60px;
  left: 10px;
}
li {
  position:relative;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
}
.hidden {
  display: none;
}
.bgImage {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  z-index: -2;
  opacity: 0.5;
}
.clock1{
  position:absolute;
  width: 100%;
  top: 25%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  font-size: 300%;
}
.clock2{
  position:absolute;
  width: 100%;
  top: 30%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  font-size: 500%;
}
#login-form {
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  font-size: 300%;
}
#login-form2 {
  position:absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  font-size: 300%;
}
.login-input {
  width: 815px;
  height: 64px;
  font-size: 30px;
  border: 0;
  border-radius: 30px;
  outline:auto;
  padding-left: 50px;
  background-color: rgb(209, 209, 209);
}
.login-button {
  width: 168px;
  height: 64px;
  font-size: 30px;
  border: 0;
  border-radius: 30px;
  outline:auto;
  background-color: rgb(209, 209, 209);
}
.todo-input {
  width: 1000px;
  height: 64px;
  font-size: 30px;
  border: 0;
  border-radius: 30px;
  outline:auto;
  padding-left: 50px;
  background-color: rgb(209, 209, 209);
}
#todo-list {
  list-style-type: none;
}
#todo-form {
  position:absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  font-size: 100%;
}
#weather {
  position:absolute;
  width: 100%;
  top: 70%;
  left: 50%;
  transform:translate(-50%, -50%);
  text-align: center;
  font-size: 500%;
}
#list-back{
  position:absolute;
  width: 20%;
  height: 90%;
  top: 50%;
  left: 12%;
  border: 0;
  border-radius: 30px;
  transform:translate(-50%, -50%);
  background-color: rgba(209, 209, 209, 0.5);
  z-index: -1;
}